.hidden {
  display: none;
}

.container-post { 
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;
  background-color: var(--background-2);
  border: var(--border);
  border-top: 0;
  padding-bottom: 0;

  .options-post {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
  
    button {
      background-color: transparent;
      outline: none;
      border: 0;
      padding: 10px 15px;
      cursor: pointer;
      color: var(--color-4);
      cursor: pointer;
      &.active-like  > i{
        color: var(--background-button-1);
      }
      &.active-share {
        display: block;
        border-radius: 10px;
        i{
          color: var(--background-button-1);
        }
      }
      i{
        font-size: 1.2rem;
      }
    }
  
    .active-like {
      display: block;
      border-radius: 10px;
      color: var(--background-button-1);
    }
    .show-comment {
      display: block;
      border-radius: 10px;
      i{
        color: var(--background-button-1);
      }
    }
  }
  .body-border-share {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 600px){
 .container-post {
   padding: 0;
 }
}
