.message-container {
  height: 100vh;
  box-shadow: 0px 0px 19px -1px var(--background-4-transparent);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .users-message {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background: var(--background-2);
  }

  .user  {
    @extend .ext-flex;
    width: 100%;
    background:  var(--background-2);
    padding: 5px 20px;
    cursor: pointer;
    justify-content: flex-start;

    &.selected {
      background: var(--background-3);
    }
  }

  .user-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
  }

  .messages {
    background: var(--background-2);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 52px);

    .message {
      flex: 1;
      padding: 0 10px;
      width: 100%;
      background: var(--background-3);
      overflow-y: auto;

      .message-item  {
        p {
          width: 100%;
          word-break: break-all;
          padding: 10px;
          margin: 5px 0;
        }

        &.this {
          background: var(--background-2);
          margin-left: 20px;
          border-radius: 10px 10px 0 10px;
        }
        
        &.reply {
          background: var(--background-1);
          margin-right: 20px;
          border-radius: 0px 10px 10px 10px;
        }
      }
    }
  }

  .send-messages {
    height: 50px;
    width: 100%;
    background: var(--background-2);
    @extend .ext-flex;
    padding: 5px;
    button {
      @extend .ext-flex;
      background: var(--background-1); 
      border: 0;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      i {
        padding: 0 3px;
      }
    }
  }
}

.message-container .user-info{
  display: flex;
  flex-direction: column;
}

.message-container .user-info > p{
  font-size: 1rem;
}
.message-container .user-info div {
  margin-top: 10px;
}

.message-container .user-info div .nova-msg {
  background-color: var(--background-button-1);
  padding: 1px 3px;
  border-radius: 5px;
}

.message-container .user-info div .nova-msg-hidden {
  background-color: transparent;
  padding: 1px 3px;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
  .message-container .user-info-username {
    display: none;
  }
}
