@import 'theme-colors';
@import 'base';

@import 'form';

@import 'post/post';
@import 'post/post-profile';
@import 'post/post-body';
@import 'post/new-post';

@import 'comment/make-comment';
@import 'comment/comment';

@import 'loading/loading';
@import 'loading/loading-basic';
@import 'loading/loading-purple';

@import 'modal/modal';
@import 'modal/modal-delete';

@import 'dropdown/drop-down';
@import 'dropdown/drop-down-post';
@import 'register-user';
@import 'messages';
@import 'navbar';
@import 'user';

@import 'profile';
@import 'login';
@import 'edit-profile/edit-profile';


.container {
  box-shadow: 0px 0px 19px -1px var(--background-4-transparent);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.container-500 {
    box-shadow: 0px 0px 19px -1px var(--background-4-transparent);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.novo-post-imagem img{
  width: 100%;
}

.button-default {
  border-radius: 20px;
  background: transparent;
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  color: var(--color-5);
  cursor: pointer;
  border: 1px solid var(--color-5);
}

.active-button-default {
  background: var(--background-button-1);
  border: 1px solid transparent;
}

 
/* Fim layout geral e itens */

.custom-file-upload {
  display: block;
  cursor: pointer;

  input[type="file"] {
    display: none;
  }
  
  i {
    display: block;
    cursor: pointer;
    font-size: 1.3rem;
  }
}

.input { 
  width: 100%;
  background: linear-gradient(45deg, var(--background-0), var(--background-1));
  width: 100%;
  height: 100%;
  padding: 1px;

  input {
    height: 100%;
    outline: none;
    color: var(--color-4);
    background: var(--background-2);
    width: 100%;
    border: 3px solid transparent;
  }

  textarea {
    background: var(--background-2);
    width: 100%;
    border: 3px solid transparent;
  }

  input::placeholder {
    color: var(--color-5);
  }

  textarea::placeholder {
    color: var(--color-5);
  } 
}

/* Layout dos formulários */

/* Configurações de perfil */
.name-config {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  h2 {
    font-size: 2rem;
    height: 100%;
  }
  a > i:hover {
    color: var(--color-1);
  }
}

.my-profile  {
  .name-config i {
    font-size: 1.4rem;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.2s;
  } 
}

.bio-and-work {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.citation {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
}

/* Perfil de imagem */
.my-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;
  background-color: var(--background-2);
  border: var(--border);
  border-top: 0;
  padding-bottom: 0;
}

.my-profile img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
/* Fim de imagem */

/* Opções Posts e Amigos */
.menu-items {
  width: 100%;
  display: flex;
  padding-top: 20px;

  button {
    display: block;
    flex: 1;
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:hover {
      font-weight: 700;
      border-bottom: 2px solid var(--background-button-1-hover);
    } 
  }
}



@media screen and (max-width: 600px){
  .login-cadastro {
    align-items: flex-start;
    padding: 0;
  }

  .container {
  }

.container-500 {
  min-height: 100vh;
}


  .form {
    padding: 50px 2%;
    h1 {
      font-size: 2.5rem;
    }
    a {
      font-size: 1.4rem;
      padding: 15px 0;
    }

    label {
      font-size: 1.2rem;
    }

    input {
      font-size: 1.2rem;
      padding: 20px inherit;
    }

    button {
      font-size: 1.3rem;
      padding: 20px 0;
    }
  }

  /* Perfil de imagem */
  .my-profile {
    padding: 30px 2%;

    img {
      display: block;
      width: 90vw;
      height: 90vw;
      object-fit: cover;
      border-radius: 50%;
    }

    .name-config {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name-config h2 {
      font-size: 1.6rem;
      padding: 15px 0;
    }

    .name-config i {
      font-size: 1.6rem;
    }
  }

  /* Fim de imagem */
  
  /* Configurações de perfil */
  .statistics p {
    font-size: 1.2rem;
  }
  .citation p {
    font-size: 1.2rem;
  }

  .bio-and-work {
    padding: 0 2%;
  }

  .biograph p span {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .work div p{
    font-size: 1.2rem;
    line-height: 1.3;
  }
}