:root {
  --border-color: #353535;
  --color-highlight-icones:rgb(28, 133, 182);
  --border-color-opacity: #a8a8a811;
  --border: 1px solid var(--border-color);
  --primary-blue-color: rgb(0, 89, 161);
  --primary-purple-color: rgb(45, 44, 46);
  --primary-orange-color: rgb(252, 148, 50);
  --primary-nigth-color: #3a3b3c;
  --primary-nigth-color-transparent: #3a3b3cff;
  --primary-nigth-color-hover: #5c5c5c;
  --primary-nigth-shadow: rgba(0,0,0,0.3);
  --primary-danger-color: rgba(255, 255, 255, 255);
  --background-body: #18191A;
  --background-body-button: #18191A;
  --background-body-transparent: #ffffff;
  --primary-background: #242526;
  --primary-background-transparent: #242526ee;
  --secundary-background: ##3A3B3C;
  --primary-text-color: #ffffff;
  --secundary-text-color: #ffffffaa;
}

[theme="purple"] {
  --border-color: #470c8a;
  --color-highlight-icones: #470c8a;
  --border-color-opacity: #470c8a44;
  --border: 1px solid var(--border-color);
  --primary-blue-color: rgb(0, 89, 161);
  --primary-purple-color: rgb(137, 29, 199);
  --primary-orange-color: rgb(252, 148, 50);
  --primary-nigth-color: #3a3b3c;
  --primary-nigth-color-transparent: #3a3b3cff;
  --primary-nigth-color-hover: #5c5c5c;
  --primary-nigth-shadow: rgba(0,0,0,0.3);
  --primary-danger-color: rgba(255, 255, 255, 255);
  --background-body: #470c8a;
  --background-body-button: #470c8a;
  --background-body-transparent: #ffffff;
  --primary-background: #008a7e;
  --primary-background-transparent: #008a7eee;
  --secundary-background: #009c8f;
  --primary-text-color: #ffffff;
  --secundary-text-color: #ffffffaa;
}



[theme="light"] {
  --border-color: #35353528;
  --color-highlight-icones:rgb(77, 103, 255);
  --border-color-opacity: #a8a8a811;
  --border: 1px solid var(--border-color);
  --primary-blue-color: rgb(77, 103, 255);
  --primary-purple-color: rgb(45, 44, 46);
  --primary-orange-color: rgb(252, 148, 50);
  --primary-nigth-color: #3a3b3c;
  --primary-nigth-color-transparent: #3a3b3cff;
  --primary-nigth-color-hover: #5c5c5c;
  --primary-nigth-shadow: rgba(0,0,0,0.1);
  --primary-danger-color: rgba(255, 255, 255, 255);
  --background-body: #ffffff;
  --background-body-button: #ffffff;
  --background-body-transparent: #ffffff;
  --primary-background: #ffffff;
  --primary-background-transparent: #dfdfdfee;
  --secundary-background: #3A3B3C;
  --primary-text-color: #666666;
  --secundary-text-color: #474747aa;
}

