.form-logged {
  margin: 0 auto;
  .body-image {
    padding: 10px;
  
    img{
      width: 100%;
      border: var(--border);
      border-radius: 20px;
      max-height: 900px;
      object-fit: cover;
      cursor: pointer;
    }
  
    .delete-account {
      padding: 0;
      background: transparent;
      text-align: left;
      color: var(--color-4);
      &:hover {
        background: transparent;
        color: var(--background-1);
      }
      
      .save-account {
        background: var(--background-1);
     }
    }
  }
  
}